<div class="dashboard-container">
  <div class="header">
    <img src="assets/image/logo.png" alt="Logo ESPRIT" class="logo" />

    <h1>Welcome, Head of Admissions Services</h1>
    <button (click)="logout()" class="logout-btn">Logout</button>
  </div>

  <div class="powerbi-container">
    <iframe 
      title="Project_Esprit_Pi - Copie2" 
      src="https://app.powerbi.com/reportEmbed?reportId=e8b92907-9eba-4abc-9a06-23514b06bf62&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&navContentPaneEnabled=false" 
      frameborder="0" 
      allowFullScreen="true"
    ></iframe>
  </div>
  


